<!DOCTYPE html>
<html>
<head>
    <title>Symphony Accueil</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    
    <div class="sideNav">
        <br><br>
        <div class="containerNavLogo">
            <img src="../assets/img/image 9.png" alt="logo">
        </div>
        <div class="containerNavText">
            <a class="textNav" class="firstText" href="/accueil">Accueil</a>
            <a class="textNav" href="/search">Rechercher</a>
            <a class="textNav" href="/billboard">Billboard</a>
            <a style="margin-top: 20%;" class="textNav" href="/game">Play</a>
            <a class="settings" href="/settings"><i style="font-size: 40px;" class="material-icons roue">settings</i></a>
        </div>
        <div class="containerNavFooter">
            <p>Symphony © 2024</p>
        </div>
    </div>

    <div class="containerCards3" >
        <div class="titlePlay">Billboard

        </div>
        <iframe class = "billBoard" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6UeSakyzhiEt4NB3UAd6NQ?utm_source=generator" width="80%" height="80%" frameborder="10" scrolling="no" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
    <script src="/assets/wallpaper.js"></script>
</body>