<!DOCTYPE html>
<html>
<head>
    <title>Symphony Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <script src="/assets/wallpaper.js"></script>
    <div class="sideNav">
        <br><br>
        <div class="containerNavLogo">
            <img src="../assets/img/image 9.png" alt="logo">
        </div>
        <div class="containerNavText">
            <a class="textNav" class="firstText" href="/accueil">Accueil</a>
            <a class="textNav" href="/search">Rechercher</a>
            <a class="textNav" href="/billboard">Billboard</a>
            <a style="margin-top: 20%;" class="textNav" href="/game">Play</a>
            <a class="settings" href="/settings"><i style="font-size: 40px;" class="material-icons roue">settings</i></a>
        </div>
        <div class="containerNavFooter">
            <p>Symphony © 2024</p>
        </div>
    </div>

    <div class="containerCards3" >
        <div class="titlePlay2">Settings</div>
            <div class="containerWp">
                <div class="wp">
                    <img src="../assets/img/wp1.webp" alt="one of the wallpaper">
                </div>

                <div class="wp">
                    <img src="../assets/img/wp2.webp" alt="one of the wallpaper">
                </div>

                <div class="wp">
                    <img src="../assets/img/wp3.webp" alt="one of the wallpaper">
                </div>

                <div class="wp">
                    <img src="../assets/img/wp4.webp" alt="one of the wallpaper">
                </div>

                <div class="wp">
                    <img src="../assets/img/wp5.webp" alt="one of the wallpaper">
                </div>

                <div class="wp">
                    <img src="../assets/img/wp6.webp" alt="one of the wallpaper">
                </div>

                <div class="wp">
                    <img src="../assets/img/wp7.webp" alt="one of the wallpaper">
                </div>

                <div class="wp">
                    <img src="../assets/img/wp8.webp" alt="one of the wallpaper">
                </div>

                <div class="wp">
                    <img src="../assets/img/wp9.webp" alt="one of the wallpaper">
                </div>
            </div>

            <div class="containerCredits">
                <div class="creditsTitle">
                    Crédits
                </div>
                <div class="creditsList">
                    <p>Diane SAUTEREAU nom de mes morts là</fieldset></p>
                    <p>Maxime CHORT</p>
                    <p>Julien CHAMOULEAU</p>
                </div>
            </div>
        </div>
</body>